<article [routerLink]="['/release', release.id]" class="article">
  <h1 class="line-clamp-1 title">
    {{ release.title }}
  </h1>
  <div class="div">
    <h2 class="bg-[#2E00C0] rounded-lg px-2 text-white">
      {{ release.tag }}
    </h2>
    <h2 
    class="text-[#FD7658] border-2 rounded-lg px-2 border-[#FD7658]">
      v.{{ release.version }}
    </h2>
  </div>
  <p class="line-clamp-6 max-sm:line-clamp-3 description">
    {{ release.description }}
  </p>
  <p 
  class="date">
    Release del {{ release.created_at | date: 'dd/MM/yyyy' }}
  </p>
</article>