<article class="w-[600px] h-[260px] border-4 border-[#2e00c0] px-2 my-2 rounded-3xl flex flex-col">
  <h1 class="text-[#000C56] text-[24px] font-bold underline px-1  line-clamp-1">
    Titulo extenso y generico de prueba
  </h1>
  <div class="flex w-full justify-between text-[#0d2547] font-medium p-1">
    <h2 class="bg-[#2E00C0] rounded-lg px-2 text-white">
      Actualización de Funcionalidades
    </h2>
    <h2 class="text-[#FD7658] border-2 rounded-lg px-2 border-[#FD7658]">
      v.00.00.00
    </h2>
  </div>
  <p class="my-1 font-medium text-[#0d2547] text-wrap px-2 line-clamp-6">
    DESCRIPCION: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis recusandae cumque itaque voluptate architecto dolores, id asperiores odio natus vitae obcaecati cum consequatur animi explicabo quaerat, perspiciatis libero repellat?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum perferendis quisquam exercitationem rerum odio mollitia iusto nisi, necessitatibus quidem doloremque est voluptates esse quaerat ea minus ipsa deserunt voluptatem eum.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quia maxime eaque at veritatis facere commodi! Pariatur sint quam adipisci accusantium? Voluptatum repellat officiis, numquam excepturi esse totam aliquid ad.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi commodi maiores error autem repellendus debitis ea veritatis dolores ducimus aperiam temporibus, laborum soluta laudantium tenetur cupiditate ipsum magni facilis inventore.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus nobis ipsum minus tenetur iure possimus vitae doloremque fugit sequi, enim commodi officia, modi ad consequuntur impedit! Enim vero sequi dolor.
  </p>
  <p class="w-full flex justify-end text-[#595959] font-semibold px-2 mt-auto">
    Release del 00/00/0000
  </p>
</article>