<article [routerLink]="['/release', release.id]"
class="w-[600px] max-sm:w-[360px] h-[260px] max-sm:h-[200px] border-4 border-[#2e00c0] px-2 my-2 rounded-3xl flex flex-col cursor-pointer">
  <h1 class="text-[#000C56] text-[24px] font-bold underline px-1  line-clamp-1">
    {{ release.title }}
  </h1>
  <div class="flex w-full justify-between text-[#0d2547] font-medium p-1">
    <h2 class="bg-[#2E00C0] rounded-lg px-2 text-white">
      {{ release.tag }}
    </h2>
    <h2 class="text-[#FD7658] border-2 rounded-lg px-2 border-[#FD7658]">
      v.{{ release.version }}
    </h2>
  </div>
  <p class="my-1 font-medium text-[#0d2547] text-wrap px-2 line-clamp-6">
    {{ release.description }}
  </p>
  <p class="w-full flex justify-end text-[#595959] font-semibold px-2 mt-auto">
    Release del {{ release.created_at | date: 'dd/MM/yyyy' }}
  </p>
</article>