<nav class="w-full flex flex-wrap items-center justify-between mx-auto py-4 max-sm:px-1">
  <div class="flex items-center">
    <a routerLink="/" class="flex items-center ">
      <img
        src='../../../favicon.ico'
        class="h-8"
        alt="Flowbite Logo"
      />
      <span 
      class="self-center text-xl font-semibold whitespace-nowrap text-[#000C56] underline">
        Releases
      </span>
    </a>
  </div>

  <div class="flex items-center space-x-4">
    @if(!userService.isLogged()){
      <button routerLink="/sign-up"
      class="self-center text-[#FD7658] border border-[#FD7658] py-1 px-2 rounded-xl hover:bg-[#fd7658] hover:text-white">
        Registrar
      </button>
      <button routerLink="/sign-in"
      class="self-center bg-[#FD7658] text-white py-1 px-2 rounded-xl hover:bg-transparent hover:text-[#fd7658]">
        Iniciar sesión
      </button>
    }@else {
      <p class="text-[#666666]">
        {{userService.user().email}}
      </p>
      <button routerLink="/" (click)="onClick()"
      class="self-center text-[#FD7658] border border-[#FD7658] py-1 px-2 rounded-xl hover:bg-[#fd7658] hover:text-white">
        Salir
      </button>
    }
  </div>
</nav>