<nav class="navbar">
  <div class="flex items-center">
    <a routerLink="/" class="flex items-center ">
      <img
        src='../../../favicon.ico'
        class="h-8"
        alt="Flowbite Logo"
      />
      <span class="title">
        Releases
      </span>
    </a>
  </div>

  <div class="flex items-center space-x-4">
    @if(!userService.isLogged()){
      <button routerLink="/sign-up"
      class="secondary-button">
        Registrar
      </button>
      <button routerLink="/sign-in"
      class="primary-button">
        Iniciar sesión
      </button>
    }@else {
      <p class="text-[#666666]">
        {{userService.user().email}}
      </p>
      <button routerLink="/" (click)="onClick()"
      class="secondary-button">
        Salir
      </button>
    }
  </div>
</nav>