<div class="flex flex-col w-full items-center text-[#000C56] font-bold">
  <h1 class="text-2xl my-2">
    Bienvenido de nuevo
  </h1>

  @if(!userService.isLogged()) {
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()"
    class="flex flex-col w-80">
      <label for="email">
        Correo:
      </label>
      <input 
      id="email" type="email" placeholder="ejemplo@email.com" 
      class="stylesInput outline-[#FFA07A]" required
      autocomplete="email" formControlName="email">

      <label for="password">
        Contraseña:
      </label>
      <input 
      id="password" type="password" placeholder="********"
      class="stylesInput outline-[#FFA07A]" 
      autocomplete="current-password"
      formControlName="password" required>

      <button type="submit" 
      class="stylesButton">
        Iniciar sesión
      </button>
    </form>

    <button 
    class="stylesButtonGoogle"
    (click)="onClick()">
      <img alt="Icono de google" class="h-6 mr-2"
      src="../../../assets/icons/google.svg">
      Iniciar sesión con Google
    </button>
  } @else {
    <div class="w-80 flex flex-col items-center">
      <h2 class="text-lg mb-2 mt-10">
        Inicio de sesión exitoso.
      </h2>
  
      <button type="button" routerLink="/" 
      class="stylesButton">
        Ir al inicio
      </button>
    </div>
  }
</div>