<main class="w-full flex flex-col items-center">
  <section class="w-[736px]">
    <h1 class="text-[#000C56] text-[34px]/9 font-medium underline px-1">
      @if(release() !== null){
        {{ release()?.title}}
      } @else {
        Cargando...
      }
    </h1>
    <div class="flex w-full justify-between text-[#0d2547] font-bold text-lg my-1 px-1">
      <h2 class="bg-[#2E00C0] rounded-lg px-2 text-white">
        @if(release() !== null){
          {{ release()?.tag }}
        } @else {
          Cargando...
        }
      </h2>
      <h2 class="text-[#FD7658] border-2 rounded-lg px-2 border-[#FD7658]">
        @if(release() !== null){
          v.{{ release()?.version }}
        } @else {
          Cargando...
        }
      </h2>
    </div>
    <p class="my-1 font-medium text-[#0d2547] text-wrap px-2">
      @if (release() !== null) {
        {{ release()?.description }} 
      } @else {
        Cargando...
      } 
    </p>
    <p class="w-full flex justify-between text-[#595959] font-semibold text-sm px-2">
      <span>
        @if(release() !== null){
          Release del {{ release()?.created_at | date: 'dd/MM/yyyy' }}
        } @else {
          Cargando...
        }
      </span>
      <span>
        @if(release() !== null){
          Autor: {{ release()?.user_email }}
        } @else {
          Cargando...
        }
      </span>
    </p>
    @if(release() !== null) {
      <div class="w-full flex justify-between items-center my-2 px-2">
        <button routerLink="/"
        class="py-1 px-2 rounded-xl text-[#fd7658] underline font-medium underline-offset-1">
          Volver
        </button>
        @if (userService.user().email === release()?.user_email) {
          <button (click)="deleteRelease()" routerLink="/"
          class="text-[#FD7658] border border-[#FD7658] py-1 px-2 rounded-xl hover:bg-[#fd7658] hover:text-white">
            Eliminar
          </button>
        }
      </div>
    }
  </section>
</main>