<main class="w-full flex flex-col items-center">
  <section class="w-[736px] max-sm:w-[380px]">
    <h1 class="title">
      @if(release() !== null){
        {{ release()?.title}}
      } @else {
        Cargando...
      }
    </h1>
    <div class="tag-version">
      <h2 class="bg-[#2E00C0] rounded-lg px-2 text-white">
        @if(release() !== null){
          {{ release()?.tag }}
        } @else {
          Cargando...
        }
      </h2>
      <h2 class="text-[#FD7658] border-2 rounded-lg px-2 border-[#FD7658]">
        @if(release() !== null){
          v.{{ release()?.version }}
        } @else {
          Cargando...
        }
      </h2>
    </div>
    <p class="my-1 font-medium text-[#0d2547] text-wrap px-2">
      @if (release() !== null) {
        {{ release()?.description }} 
      } @else {
        Cargando...
      } 
    </p>
    <p class="date-release">
      <span>
        @if(release() !== null){
          Release del {{ release()?.created_at | date: 'dd/MM/yyyy' }}
        } @else {
          Cargando...
        }
      </span>
      <span>
        @if(release() !== null){
          Autor: {{ release()?.user_email }}
        } @else {
          Cargando...
        }
      </span>
    </p>
    @if(release() !== null) {
      <div class="w-full flex justify-between items-center my-2 px-2">
        <button routerLink="/"
        class="back-button">
          Volver
        </button>
        @if (userService.user().email === release()?.user_email) {
          <div>
            <button  routerLink="/release/edit/{{ release()?.id }}"
            class="action-button mr-2">
              Editar
            </button>

            <button (click)="deleteRelease()" routerLink="/"
            class="action-button">
              Eliminar
            </button>
          </div>
        }
      </div>
    }
  </section>
</main>